html 
    head 
        style 
            include ./public/css/indexCSS.css
        title NATJECANJA
    body
        div
            h1(id = "form__title") Dobrodošao!
        div(id='sigLog')
            if username
                a(href='/natjecanje') Natjecanja
                form(action="/logout", method="get")
                    input(type="submit", value="Logout " + username)
            else
                form(action="/sign-up", method="get")
                    input(type="submit", value="Sign up/Log in")
                


            