html 
    head 
        style 
            include ./public/css/natjecanjeCSS.css
        title NATJECANJA
    body
        div(id='hello')
            h1(id="h1b") Dobrodošao #{user.nickname}
        div(if='left')
            h1 Izrada natjecanje
            form(action="/natjecanje/unos-podataka", method="post", onsubmit="return validate(this)")
                div
                    label(for="natjecanjeN") Ime natjecanja: 
                    input(type="text", id="natjecanjeN", name="natjecanjeN", placeholder="Obavezno", required)
                div
                    label(for="brojN") Popis natjecatelja (natjecatelje odvajamo ; ili enter): 
                    textarea(name="brojN", placeholder="Natjecatelj1;Natjecatelj2;Natjecatelj3;Natjecatelj4\nili\nNatjecatelj1\nNatjecatelj2\nNatjecatelj3\nNatjecatelj4", cols="30", rows="10", required)
                div
                    label(for="sustavB") Sustav bodovanja(pobjeda/remi/poraz): 
                    input(type="text", placeholder="3/1/0",  id="sustavB", name="sustavB", required) 
                div
                    button(type=submit) Unos podataka natjecanje 
        div(id='right')
            h1 Popis starih natjecanja
            each nat in natjecanja
                div
                    a(href=`/natjecanje/unos-podataka/${nat.natjecanjeid}`) #{nat.natjecanjename}
        div(id='logout')   
            form(action="/logout", method="get")
                    input(type="submit", value="Logout " + user.nickname)

        script  
            include ./public/js/natjecanjeJS.js

        
        