html 
    head 
        style 
            include ./public/css/unosPodatakaCSS.css
        title NATJECANJA
    body
        div(id='hello')
            h1(id="h1b") Raspored i poredak natjecatelja
            h2 #{podatci[0].natjecanjename}
            h3 pobjeda/remi/poraz
            h3 #{podatci[0].pobjeda} / #{podatci[0].remi} / #{podatci[0].poraz}
        if (user)
            if (user.name == podatci[0].username)
                div(id='left')
                    h2 RASPORED NATJECANJA
                    p 
                        | Odaberi tko je 
                        strong pobjedio 
                        |u natjecanju!
                    form(action=`/natjecanje/unos-podataka/${id}` method="post")
                        - var count = 0
                        while (count < podatci.length)
                            - var kolo = podatci[count].brojk
                            h3(id='redK') Kolo #{kolo}
                            while (podatci[count] && podatci[count].brojk == kolo)
                                div
                                    p(id='ptext') 
                                        | #{count + 1}. Natjecatelji koji sudjeluju : 
                                        strong #{podatci[count].nat1} - #{podatci[count].nat2}
                                    - var sel = podatci[count].pobjednik
                                    select(name=`kolo ${kolo}`)
                                        option(value=0, selected=sel === 0) ------
                                        option(value=1, selected=sel === 1) #{podatci[count].nat1}
                                        option(value=2, selected=sel === 2) #{podatci[count].nat2}
                                        option(value=-1, selected=sel === -1) REMI
                                - count = count + 1
                        button(type="submit") Unos podataka
                div(id='logout')
                    a(href='/natjecanje') Nazad
            else
                div(id='left')
                    h2 RASPORED NATJECANJA
                    - var count = 0
                    while (count < podatci.length)
                        - var kolo = podatci[count].brojk
                        h3(id='redK') Kolo #{kolo}
                        while (podatci[count] && podatci[count].brojk == kolo)
                            div
                                p(id='ptext') 
                                    | #{count + 1}. Natjecatelji koji sudjeluju : 
                                    strong #{podatci[count].nat1} - #{podatci[count].nat2}
                                - var pobjednik = podatci[count].pobjednik
                                - var ispisP = 'Nije odigrano'
                                if (pobjednik == -1)
                                    -ispisP = 'remi'
                                else if (pobjednik == 1)
                                    -ispisP = podatci[count].nat1
                                else if (pobjednik == 2)
                                    -ispisP = podatci[count].nat2
                                p POBJEDNIK =  
                                h4(id='ispisS')  #{ispisP}
                            - count = count + 1
                div(id='logout')
                    a(href='/natjecanje') Nazad
        else
            div(id='left') 
                h2 RASPORED NATJECANJA
                - var count = 0
                while (count < podatci.length)
                    - var kolo = podatci[count].brojk
                    h3(id='redK') Kolo #{kolo}
                    while (podatci[count] && podatci[count].brojk == kolo)
                        div
                            p(id='ptext') 
                                | #{count + 1}. Natjecatelji koji sudjeluju :
                                strong #{podatci[count].nat1} - #{podatci[count].nat2}
                            - var pobjednik = podatci[count].pobjednik
                            - var ispisP = 'Nije odigrano'
                            if (pobjednik == -1)
                                -ispisP = 'remi'
                            else if (pobjednik == 1)
                                -ispisP = podatci[count].nat1
                            else if (pobjednik == 2)
                                -ispisP = podatci[count].nat2
                            p POBJEDNIK =  
                            h4(id='ispisS')  #{ispisP}
                        - count = count + 1
            div(id='logout')
                form(action="/sign-up", method="get")
                    input(type="submit", value="Sign up/Log in")
        div(id='right')
            h2 RANG LISTA
            - for(let i = 0; i < natjecatelji.length; i++) 
                p(id='rang') #{i + 1}. #{natjecatelji[i].natjecateljname} - #{natjecatelji[i].bodovi}
            p Link za stranicu:
            h4(id='ispisS') #{link}
            
                 
        