/* Rest of your existing styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#form__title {
    font-size: 80px; 
    color: #000;
    margin: 0;
    padding: 20px;
}

a {
    display: inline-block;
    padding: 14px 26px;
    font-size: 115%; /* Slightly smaller font size */
    color: #007BFF;
    text-decoration: none;
    border: 2px solid #007BFF;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    margin: 10px 0;
}

input[type="submit"], button{
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 16px 32px; 
    font-size: 130%; 
    cursor: pointer;
    border-radius: 4px;
    margin: 10px;
}

#sigLog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

