/* Rest of your existing styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns for main and aside */
    grid-template-rows: auto 1fr auto; /* Three rows for header, main, and footer */
    height: 100vh;
}

/* Style headings in the "hello" div (header) */
#hello h1 {
    font-size: 40px; /* Slightly smaller font size */
    color: #007BFF;
    margin: 0;
    padding: 20px;
}

/* Style the links to look like buttons with border */
a {
    display: inline-block;
    padding: 14px 26px;
    font-size: 115%; /* Slightly smaller font size */
    color: #007BFF;
    text-decoration: none;
    border: 2px solid #007BFF;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    margin: 10px 0;
}

/* Style the submit buttons */
input[type="submit"], button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 14px 26px;
    font-size: 115%; /* Slightly smaller font size */
    cursor: pointer;
    border-radius: 4px;
    margin: 10px;
}

/* Style the layout div elements */
div {
    margin: 20px;
    font-size: 100%; /* Restore to default size */
    text-align: center;
}

/* Style the form labels */
label {
    font-size: 120%;
}

/* Style the input and textarea elements */
input[type="text"], textarea {
    font-size: 100%; /* Restore to default size */
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    font-family: Arial, sans-serif;
}

/* Position div elements within the grid */
#hello {
    grid-column: 1 / 3; /* Span two columns for the header */
    grid-row: 1;
    text-align: center;
}

#left {
    grid-column: 1; /* Position in the first column for main content */
    grid-row: 2;
}

#right {
    grid-column: 2; /* Position in the second column for the aside */
    grid-row: 2;
}

#logout {
    grid-column: 1 / 3; /* Span two columns for the footer */
}
