/* Rest of your existing styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns for main and aside */
    grid-template-rows: auto 1fr auto 1fr; /* Four rows for header, main, footer, and footer */
    height: 100vh;
  }
  
  /* Style headings in the "hello" div (header) */
  #hello h1 {
    font-size: 50px; /* Larger font size */
    color: #007BFF;
    margin: 0;
    padding: 20px;
  }
  
  /* Style the links to look like buttons with border */
  a {
    display: inline-block;
    padding: 16px 30px; /* Larger padding */
    font-size: 130%; /* Larger font size */
    color: #007BFF;
    text-decoration: none;
    border: 2px solid #007BFF;
    border-radius: 6px; /* Larger border radius */
    text-align: center;
    cursor: pointer;
    margin: 12px 0; /* Increased margin */
  }
  
  /* Style the submit buttons */
  input[type="submit"],
  button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 16px 30px; /* Larger padding */
    font-size: 130%; /* Larger font size */
    cursor: pointer;
    border-radius: 6px; /* Larger border radius */
    margin: 12px 0; /* Increased margin */
  }
  
  /* Style the select element */
  select {
    background-color: #007BFF; /* Set the background color to blue */
    color: #fff; /* Set text color to white */
    border: none; /* Remove the default border */
    padding: 12px 20px; /* Adjust padding to make it smaller */
    font-size: 130%; /* Larger font size */
    border-radius: 6px; /* Larger border radius */
    cursor: pointer;
    width: auto; /* Allow the select element to expand based on content */
  }
  
  /* Style the layout div elements */
  div {
    margin: 20px;
    font-size: 120%; /* Larger font size */
    text-align: center;
  }
  
  /* Style the form labels */
  label {
    font-size: 140%; /* Larger font size */
  }
  
  /* Style the input and textarea elements */
  input[type="text"],
  textarea {
    font-size: 120%; /* Larger font size */
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    margin: 12px 0; /* Increased margin */
    font-family: Arial, sans-serif;
  }
  
  /* Position div elements within the grid */
  #hello {
    grid-column: 1 / 3; /* Span two columns for the header */
    grid-row: 1;
    text-align: center;
  }
  
  #left {
    grid-column: 1; /* Position in the first column for main content */
    grid-row: 2;
  }
  
  #right {
    grid-column: 2; /* Position in the second column for the aside */
    grid-row: 2;
  }
  
  #logout {
    grid-column: 1 / 3; /* Span two columns for the first footer */
    grid-row: 4; /* Position the first footer in the fourth row */
    text-align: center; /* Center the content in the footer */
  }
  
  /* Adjust the positioning of select and ptext */
  #left div {
    display: flex;
    align-items: center;
  }
  
  #left #ptext {
    flex: 1; /* Allow it to take available space */
    text-align: right; /* Align the text to the right */
    padding-right: 12%;
  }

  #left #redK {
    color: #007BFF;
}
p#rang {
    font-size: 40px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold */
    list-style-type: decimal; /* Use decimal numbering */
    margin-left: 0; /* Reset the default margin */
    padding-left: 20px; /* Add some padding for indentation */
    border: 2px solid #007BFF; /* Add a blue border around the text */
    padding: 10px; /* Adjust the padding as needed */
    border-radius: 6px; /* Add rounded corners */
}

#ispisS {
    color: #007BFF;
}